@page
@model Final_Project.Pages.jobsModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/jobs.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    <header>
        <h2>Jobs</h2>
    </header>
    <div class="position"> 
        <div class="selector">
            <button>Filter by date</button>
            <button>Filter by costumer</button>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="1022" height="641" viewBox="0 0 1022 641" fill="none">


            <path d="M168.53 41.1814L168.946 42.0076H169.87H982.175L1020.4 639.5H1.5V1.5H148.58L168.53 41.1814Z"
                fill="white" stroke="#1D006E" stroke-width="3" />
            <div class="data_container">
                <table class="table">
                <tr>
                    <th>Job Id</th>
                    <th>Recieved Date</th>
                    <th>State</th>
                    <th>ETA</th>
                    <th>End Date</th>
                </tr>

                @{

                    for (int i = 0; i < @Model.Job_ID.Count; i++)
                    {

                        <tr>
                            <td>@Model.Job_ID[i]</td>


                                <td>@Model.Recieved_Date[i]</td>
                                <td>@Model.End_Date[i]</td>


                                <td>@Model.State[i]</td>

                                <td>@Model.ETA[i]</td>

                            

                        </tr>
                    }
                    
                    
                }



            </table>"
                
            </div>
        </svg>



    </div>
   
    <div class="side-buttons">
        <form method="post">
            <input id="confirmJob" name="confirmJob" placeholder="Enter ID of a job to confirm" />
            <button class="btn btn-primary" type="submit" onclick="@Model.UpdateState(Model.confirmJob)">Confirm</button><br />
            <input id="endJobInput" name="endJobInput" placeholder="Enter ID of a job to end" />
            <button class="btn btn-primary"
                    onclick="@Model.endJob()">
                End
            </button>
        </form>
    </div>

    







</body>

</html>
